@{
    ViewBag.Title = "Super Zapatos";
}
<div class="categorias">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="~/fonts/imagenes/category-1.jpg" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="~/fonts/imagenes/category-2.jpg" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="~/fonts/imagenes/category-3.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
<!----futuras productos------>
<div class="small-container">
    <h2 class="titulo">Futuros Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="~/fonts/imagenes/product-1.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-2.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-3.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-4.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
    </div>
    <h2 class="titulo">Ultimos Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="~/fonts/imagenes/product-5.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-6.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-7.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-8.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-9.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-10.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-11.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
        <div class="col-4">
            <img src="~/fonts/imagenes/product-12.jpg" alt="" srcset="">
            <h4>Red Printend T-shirt</h4>
            <p>$50</p>
        </div>
    </div>
</div>
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="~/fonts/imagenes/exclusive.png" alt="" srcset="" class="offer-img">
            </div>
            <div class="col-2">
                <p>Productos exclusivo de Store Red</p>
                <h1>Smart Band 4</h1>
                <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis incidunt odit ducimus ut! Laudantium! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, repudiandae!</small>
                <a href="" class="btn2">Miralo ahora &#8594;</a>
            </div>
        </div>
    </div>
</div>
<div class="testimonios">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="glyphicon glyphicon-asterisk"></i>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet aperiam libero iusto quibusdam labore cumque aliquam quo ad dicta minima?</p>
                <img src="~/fonts/imagenes/user-1.png" alt="" srcset="">
                <h3>Lorena Boby</h3>
            </div>
            <div class="col-3">
                <i class="glyphicon glyphicon-asterisk"></i>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet aperiam libero iusto quibusdam labore cumque aliquam quo ad dicta minima?</p>
                <img src="~/fonts/imagenes/user-2.png" alt="" srcset="">
                <h3>Lorena Boby</h3>
            </div>
            <div class="col-3">
                <i class="glyphicon glyphicon-asterisk"></i>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet aperiam libero iusto quibusdam labore cumque aliquam quo ad dicta minima?</p>
                <img src="~/fonts/imagenes/user-3.png" alt="" srcset="">
                <h3>Lorena Boby</h3>
            </div>
        </div>
    </div>
</div>